{% extends 'nav.html' %}
        
{% block content %}





      {% load crispy_forms_tags %}  

        
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="#"><h2>Joanna and Ben's Watchlist</h2></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/movies">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/movies/mov-rando">Pick Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/movies/show-rando">Pick Show</a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
          <!--Django Model Form-->
          <h2 class="my-4">Add a new movie</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{movie_form|crispy}}
                <button class="btn btn-primary my-4" type="submit">Submit</button>
          </form>
          <!--Django Model-->
          <!-- <h2 class="my-4">Movies</h2>
          <div class="row">
            {% for m in movies %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
              <div class="card h-100 p-4">
                <img src="{{ m.movie_poster.url }}" class="card-img-top" alt="{{ m.movie_title}}">
                <h4>{{m.movie_title}}</h4>
                <p class="text-muted">{{m.release_year}} | {{m.director}}</p>
                <p>{{m.movie_plot}}</p>
              </div>
            </div>
            {% empty %}
            <p>No movies added.</p>
            {% endfor %}
          </div> -->
        </div>
    
        {% endblock %}