{% extends 'nav.html' %}
        
{% block content %}
    <h1>{{ movie.title }}</h1>
<ul>
    {% if movie.watched  %}
    <li>We have watched this</li>
    {% else %}
    <li>We have not watched this yet</li>
    {% endif %}
    {% if movie.trailer  %}
    {% comment %} <iframe sandbox="allow-same-origin" width="420" height="315"
    src="{{ movie.trailer }}">
    </iframe>  {% endcomment %}
    <embed src="{{ movie.trailer }}"
        width='560px' height='315px'>
    {% else %}
    
    {% endif %}
    <li>Description: {{ movie.body }}</li>
    <a href="/movies/watch/{{ movie.id }}/" class="btn btn-success">Mark as Watched?</a>
    
    {% if movie.currently_watching %}
    <a href="/movies/watching/{{ movie.id }}/" class="btn btn-success">No Longer Watching?</a>
    {% else %}
    <a href="/movies/watching/{{ movie.id }}/" class="btn btn-success">Mark as Watching?</a>
    {% endif %}
    
    

</ul>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        
        
        <!-- Modal body -->
        <div class="modal-body">
          {{ rom }}
        </div>
        
        <!-- Modal footer -->
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div> {% endcomment %}
        
      </div>
    </div>
  </div>

{% endblock %}


