{% extends 'nav.html' %}
        
{% block content %}

<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">{{ movie.title }} </h4>
        <p class="card-text">{{ movie.body }} </p>
    </div>
  
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        
        
        <!-- Modal body -->
        <div class="modal-body">
          {{ rom }}
        </div>
        
        <!-- Modal footer -->
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div> {% endcomment %}
        
      </div>
    </div>
  </div>
{% endblock %}
