{% extends 'nav.html' %}
        
{% block content %}



        

{% if latest_movie_list %}
    <p>
        <h4 class="btn-success" data-bs-toggle="collapse" data-bs-target="#contentId" aria-expanded="false"
                aria-controls="contentId">
            Movies:  {{latest_movie_list|length}} results found
    </h4>
    </p>

        
    
    <div class="collapse" id="contentId">
    {% for movie in latest_movie_list %}
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h4 class="card-title"><a href="/movies/{{ movie.id }}/">{{ movie.title }}</a></h4>
      </div>
    </div>
       
    {% endfor %}
</div>
{% else %}
    <p>No movies are available.</p>
{% endif %}

{% if shows %}
<h4 class="btn-danger" data-bs-toggle="collapse" data-bs-target="#showcontentId" aria-expanded="false"
aria-controls="contentId">
Shows
</h4>
    <div class="collapse" id="showcontentId">
    {% for show in shows %}
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h4 class="card-title"><a href="/movies/{{ show.id }}/">{{ show.title }}</a></h4>
      </div>
    </div>
       
    {% endfor %}
</div>
{% else %}
    <p>No shows are available.</p>
{% endif %}


<a class="btn btn-success" href="/movies/add/">+</a>
</div>
{% endblock %}